body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
}
#background {
    background-image: url("https://img.freepik.com/premium-vector/space-background-with-stars-vector-illustration_97886-319.jpg");
    height: 100em;
}

@keyframes move-background {
    from {
    background-position: 0% 0%;
    }
    to {
    background-position: 5% 100%;
    }
}
